WebControlTest/Service References/LoyaltyService/LoyaltyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Allowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Discount" type="xs:double" />
      <xs:element minOccurs="0" name="DiscountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit" type="xs:double" />
      <xs:element minOccurs="0" name="LimitType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PINRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="PinCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductsList" nillable="true" type="tns:ArrayOfProductItem" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cPassRequired" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthResult" nillable="true" type="tns:AuthResult" />
  <xs:complexType name="ArrayOfProductItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductItem" nillable="true" type="tns:ProductItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductItem" nillable="true" type="tns:ArrayOfProductItem" />
  <xs:complexType name="ProductItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Discount" type="xs:double" />
      <xs:element minOccurs="0" name="DiscountType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductItem" nillable="true" type="tns:ProductItem" />
  <xs:complexType name="TransactionCompleteResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recived" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionCompleteResult" nillable="true" type="tns:TransactionCompleteResult" />
</xs:schema>