WebControlTest/Service References/LoyaltyService/LoyaltyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49954/LoyaltyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthService" />
  <xs:element name="GetAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="card" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stationcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AuthService" minOccurs="0" name="GetAuthResult" nillable="true" type="q1:AuthResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="referece" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
        <xs:element minOccurs="0" name="volume" type="xs:double" />
        <xs:element minOccurs="0" name="ProductCode" type="xs:int" />
        <xs:element minOccurs="0" name="datetime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AuthService" minOccurs="0" name="TransactionCompleteResult" nillable="true" type="q2:TransactionCompleteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>