WebControlTest/Service References/LoyaltyService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49954/LoyaltyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49954/LoyaltyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49954/LoyaltyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LoyaltyService_GetAuth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuth" />
  </wsdl:message>
  <wsdl:message name="LoyaltyService_GetAuth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthResponse" />
  </wsdl:message>
  <wsdl:message name="LoyaltyService_TransactionComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:TransactionComplete" />
  </wsdl:message>
  <wsdl:message name="LoyaltyService_TransactionComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransactionCompleteResponse" />
  </wsdl:message>
  <wsdl:portType name="LoyaltyService">
    <wsdl:operation name="GetAuth">
      <wsdl:input wsaw:Action="http://tempuri.org/LoyaltyService/GetAuth" message="tns:LoyaltyService_GetAuth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoyaltyService/GetAuthResponse" message="tns:LoyaltyService_GetAuth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransactionComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/LoyaltyService/TransactionComplete" message="tns:LoyaltyService_TransactionComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LoyaltyService/TransactionCompleteResponse" message="tns:LoyaltyService_TransactionComplete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_LoyaltyService" type="tns:LoyaltyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuth">
      <soap:operation soapAction="http://tempuri.org/LoyaltyService/GetAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransactionComplete">
      <soap:operation soapAction="http://tempuri.org/LoyaltyService/TransactionComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_LoyaltyService" binding="tns:BasicHttpBinding_LoyaltyService">
      <soap:address location="http://localhost:49954/LoyaltyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>